<%- include('./partials/header') %>
<body>
    <%- include('./partials/nav-bar') %>
    <h2>About</h2>
    <p>
        This web application was built using Node.js + Express. 
        User credentials are encrypted and stored in a PostgresDB.
    </p>
</body>
</html>