<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        This is a 2nd admin only page.
    </h2>
    <form action="/admin">
        <button>1st Admin only page</button>
    </form>
    <form action="/">
        <button>Welcome page</button>
    </form>
</body>
</html>