<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome</h2>
    <% if (user && typeof user !== 'undefined') { %>
        <p>Signed in as: <%= user.username %></p>
        <form action="/users/logout">
            <button>Logout</button>
        </form>
        <form action="/admin">
            <button>Admin page</button>
        </form>
    <% } else { %>
        <form action="/users/login">
            <button>Please login here</button>
        </form>
    <% } %>
    
</body>
</html>