<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Please LOGIN below</h2>
    <% if (typeof userCreated !== 'undefined' && userCreated || false) { %>
        <p>Account successfully created</p>
    <% } %>
    <% if (typeof changedPassword !== 'undefined' && changedPassword || false) { %>
        <p>Password successfully changed</p>
    <% } %>
    <% if (typeof userDeleted !== 'undefined' && userDeleted || false) { %>
        <p>User successfully deleted</p>
    <% } %>
    <form action="/users/login" method="post">
        <label type="text" for="username">Username:</label><br>
        <input type="text" id="username" name="username" placeholder="Enter Username" value="<%= locals.attemptedUsername || null%>"><br>
        <label type="text" for="password">Password:</label><br>
        <input type="text" id="password" name="password" placeholder="Enter Password" value="<%= locals.attemptedPassword || null%>"><br>
        <button type="submit">Login</button>
    </form>   
    <% if (wrongCredentials || false) { %>
        <p>Wrong username or password</p>
    <% } %>
    <form action="/users/update-password">
        <button>Update Password</button>
    </form>
    <form action="/users/signup">
        <button>Sign Up</button>
    </form>
    <hr>
    <form action="/users/delete-user" method="get">
        <button>Delete User</button>
    </form>
</body>
</html>