<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>You are unathorised to view this page</h2>
    <form action="/">
        <button>Return to Home</button>
    </form>
</body>
</html>