<%- include('./partials/header') %>
<body>
    <%- include('./partials/nav-bar') %>
    <h2>You are unathorised to view this page</h2>
    <p>To showcase role-based access, Promote your role to ADMIN:</p><br>
    <form action="/users/change-role" method="post">
        <button>Admin</button>
    </form>
</body>
</html>