<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>UPDATE password below</h2>
    <% if (typeof invalidUsername !== 'undefined' && invalidUsername) { %>
        <p>Invalid Username</p>
    <% } %>
    <form action="/users/update-password" method="post">
        <label type="text" for="username">Username:</label><br>
        <input type="text" id="username" name="username" placeholder="Enter Username"><br>
        <label type="text" for="password">Password:</label><br>
        <input type="text" id="password" name="password" placeholder="Enter Password"><br>
        <label type="text" for="newPassword">New Password:</label><br>
        <input type="text" id="newPassword" name="newPassword" placeholder="Enter New Password"><br>
        <button type="submit">Update Password</button>
    </form>   
    <form action="/users/login">
        <button>Back to login</button>
    </form>
    </form>   
    <form action="/users/signup">
        <button>Sign Up</button>
    </form>
</body>
</html>